{% extends 'base.html.twig' %}

{% block body %}

    {{ include('operateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary form-btn" href="{{ path('operateur_index') }}">back to list</a>

    {{ include('operateur/_delete_form.html.twig') }}
{% endblock %}
