{% extends 'base.html.twig' %}

{% block body %}

    {{ include('operateur/_form.html.twig') }}

    <a class="btn btn-secondary form-btn" href="{{ path('operateur_index') }}">back to list</a>
{% endblock %}
