{% extends 'base.html.twig' %}

{% block body %}
    {{ include('matiere/_form.html.twig') }}

    <a class="btn btn-secondary form-btn" href="{{ path('matiere_index') }}">back to list</a>
{% endblock %}
