{% extends 'base.html.twig' %}

{% block body %}

    {{ include('social_media/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary form-btn" href="{{ path('social_media_index') }}">back to list</a>

    {{ include('social_media/_delete_form.html.twig') }}
{% endblock %}
