{% extends 'base.html.twig' %}

{% block body %}
    {{ include('download/_form.html.twig') }}

    <a class="btn btn-secondary form-btn" href="{{ path('download_index') }}">back to list</a>
{% endblock %}
